/**
*
* @format
*/
/* Start Main Section */

.main-graphic-design {
  margin-top: 200px;
}
.main-graphic-design .box-imag {
  cursor: pointer;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.main-graphic-design .box-imag img {

  object-fit: cover;
  height: 100%;
}
.main-graphic-design .box-imag .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.main-graphic-design .box-imag:hover .overlay{
  height: 100%;
}
@media(max-width:991px) {
 .main-graphic-design {
  margin-top: 180px;
 } 
}
@media(max-width:767px) {
 .main-graphic-design {
  margin-top: 150px;
 } 
}
.main-graphic-design .row {
  margin-bottom: 2rem;
}

.main-graphic-design .be-client a {
  width: 300px;
  height: 60px;
  margin: auto;
  text-decoration: none;
  background-color: #0071bc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  font-size: 18px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}

.main-graphic-design .be-client a:hover {
  background-color: var(--hover-03c3ff);
}

.main-graphic-design .be-client img {
  width: 20px;
  margin-right: 10px;
}
/* End Main Section */
