/**
 * Start Main Section
 *
 * @format
 */

.main-graphic-design {
  margin-top: 200px;
}
.main-graphic-design .box-imag {
  height: 500px;
  overflow: hidden;
}
.main-graphic-design .box-imag img {
  object-fit: cover;
  height: 100%;
}
@media(max-width:991px) {
 .main-graphic-design {
  margin-top: 180px;
 } 
}
@media(max-width:767px) {
 .main-graphic-design {
  margin-top: 150px;
 } 
}
.main-graphic-design .row {
  margin-bottom: 2rem;
}

.main-graphic-design .be-client a {
  width: 300px;
  height: 60px;
  margin: auto;
  text-decoration: none;
  background-color: #0071bc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  font-size: 18px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}

.main-graphic-design .be-client a:hover {
  background-color: var(--hover-03c3ff);
}

.main-graphic-design .be-client img {
  width: 20px;
  margin-right: 10px;
}
/* End Main Section */
