/** @format */

@import "./colors.css";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;900&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./hompage.css";
@import "./slider.css";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
  overflow-x: hidden;
}

/* Start Top Nav img */
.top-nav-img {
  height: 111px;
  background: url("../assets/SVG/Nav.svg") #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
}

/* End Top Nav img */

/* Start Navbar */
.navbar-expand-lg {
  margin-top: 86px;
  background-color: #fff;
}
@media(max-width:500px) {
  .navbar-expand-lg {
    margin-top: 70px;
  }
}
.navbar-expand-lg .container-fluid {
  padding-right: 200px;
  padding-left: 200px;
}
@media (max-width: 1270px) {
  .navbar-expand-lg .container-fluid {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .navbar-expand-lg .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .navbar-brand {
    position: relative;
    top: -15px;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-right: 0;
    top: 0;
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    position: absolute;
    top: -60px;
    right: 40px;
  }
}
@media (max-width: 767px) {
  .navbar-toggler {
    right: 8px;
  }
}
.navbar-brand img {
  width: 75px;
}
.nav-item .nav-link {
  padding: 8px 15px;
  font-size: 16px;

  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
  position: relative;
}
@media (max-width: 991px) {
  .nav-item .nav-link {
    padding-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .nav-item .nav-link {
    width: max-content;
  }
}
@media (min-width: 1199px) {
  .nav-item .nav-link {
    margin-right: 30px;
  }
  .navbar-nav {
    margin-top: 35px;
  }
}

.nav-item .nav-link:hover,
.nav-link .nav-link:hover svg path {
  color: var(--hover-03c3ff);
  fill: var(--hover-03c3ff);
}
.nav-item .nav-link.active {
  border-bottom: 2px solid var(--hover-03c3ff);
  color: var(--hover-03c3ff);
}

.nav-item .nav-link img {
  position: absolute;
  bottom: 18px;
  left: -7px;
}
.nav-item .nav-link img.lang-icon {
  left: -15px;
  bottom: 14px;
}
@media (max-width: 991px) {
  .navbar-nav {
    margin-top: 20px;
    padding-right: 0;
  }
  .nav-item .nav-link img {
    left: -20px;
  }
  .nav-item .nav-link img.lang-icon {
    left: -25px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
.navbar-toggler {
  border: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .drop-info {
  width: 20%;
  text-align: right;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .drop-info h3 {
  font-size: 16px;
  color: var(--unnamed-color-273587);
  font-weight: bold;
  line-height: 1.7;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul {
  min-width: 40%;
  padding-right: 20px;
  text-align: right;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 5px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li:hover {
  background: transparent linear-gradient(0deg, #8999e429 0%, #4dc7ed14 100%) 0%
    0% no-repeat;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li.ask-us-dropdown:hover {
  background: transparent;
  cursor: unset;
}

.navbar-expand-lg .navbar-nav .dropdown-menu ul li svg {
  width: 20px !important;
  height: 18px !important;
  margin-left: 8px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li a.ask-us-dropdown-btn {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  background-color: var(--headingSectionsColor);
  color: var(--textLight);
  text-align: center;
  padding: 5px;
  width: 110px;
  margin-right: 5px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li a.ask-us-dropdown-btn svg {
  display: none;
  margin-right: 5px;
}
.navbar-expand-lg
  .navbar-nav
  .dropdown-menu
  ul
  li
  a.ask-us-dropdown-btn:hover
  svg {
  display: inline-block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li a.ask-us-dropdown-btn:hover {
  background-color: #2fb943;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  border: 1px solid var(--unnamed-color-65c7ee);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border: 1px solid #65c7ee;
  border-radius: 8px;
  position: absolute;
}
.navbar-expand-lg .navbar-nav .nav-item:hover svg.down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.navbar-expand-lg .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 43px;
    left: -161%;
    width: 700px;
    transition: var(--mainTransitionTim);
    -webkit-transition: var(--mainTransitionTim);
    -moz-transition: var(--mainTransitionTim);
    -ms-transition: var(--mainTransitionTim);
    -o-transition: var(--mainTransitionTim);
  }
}

/* End Navbar */

/* Start Contact Fixed Box */
.contact-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  left: 0px;
  width: 60px;
  top: 50%;
  /*UIProperties*/
  background: transparent linear-gradient(180deg, #273a95 0%, #4dc7ed 100%) 0%
    0% no-repeat padding-box;
  border-radius: 44px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 1000;
}
.contact-box div a img {
  width: 60px;
}

@media (max-width: 991px) {
  .contact-box {
    padding: 8px;
    right: 0;
    width: 40px;
  }
  .contact-box div a img {
    width: 40px;
  }
}
/* End Contact Fixed Box */

/* start Footer */
footer {
  background-color: var(--unnamed-color-d9f2f2);
}
footer .container-fluid {
  padding: 0 200px;
}
@media (max-width: 1270px) {
  footer .container-fluid {
    padding: 0 100px;
  }
}
@media (max-width: 767px) {
  footer .container-fluid {
    padding: 0 10px;
  }
}
footer,
footer ul li a {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-muted-707070);
  text-decoration: none;
}
footer ul li {
  font-size: 14px;
}
footer ul li a {
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
footer ul li a:hover {
  color: var(--hover-03c3ff);
}
footer ul {
  list-style: none;
  padding: 0;
}
.footer-box .logo {
  margin-bottom: 20px;
  transform: var(--mainTransitionTim);
  -webkit-transform: var(--mainTransitionTim);
  -moz-transform: var(--mainTransitionTim);
  -ms-transform: var(--mainTransitionTim);
  -o-transform: var(--mainTransitionTim);
}
.footer-box .logo.hide {
  opacity: 0;
}

.footer-box p {
  font-size: 14px;
  line-height: 2;
}

.footer-box {
  min-width: 200px;
}

@media (min-width: 1250px) {
  .footer-box {
    margin: 0 20px;
  }
}

.footer-box .footer-title {
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: bold;

  color: var(--unnamed-color-2e2e2e);
  border-bottom: 1px solid #70707063;
}
.footer-box ul {
  margin-top: 25px;
}
.footer-box ul li {
  margin-bottom: 8px;
}
.footer-box ul li img {
  margin-right: 5px;
  width: 14px;
}

.footer-box ul.text-left {
  text-align: left;
}
footer .social ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

footer .social ul li {
  margin: 15px;
}

footer .social ul li a img {
  font-size: 26px;
}

footer .social ul li a i:hover {
  color: var(--unnamed-color-273587);
}
.subscrip-input,
.subscrip-btn {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}
.subscrip-input {
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
}
.subscrip-input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--text-muted-707070);
}
.subscrip-btn {
  display: flex;
  align-items: center;

  width: 77px;
  padding: 10px;
  background-color: #0071bc;
  color: var(--textLight);
  margin-right: 8px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.subscrip-btn:hover {
  background-color: var(--hover-03c3ff);
  color: var(--textLight);
}
.subscrip-btn img {
  width: 6px;
  margin-right: 5px;
}
.footer-bottom {
  height: 110px;
  background-image: url("../assets/Footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-bottom .container {
  height: 100%;
}
.footer-bottom .footer-copy {
  color: var(--textLight);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.footer-bottom .footer-copy p {
  margin: 17px 0 0 10px;
}
/* End Footer */

/*Start  Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--unnamed-color-273587);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-03c3ff);
}
/*End Scrollbar */

/* Start Scroll To Top */
.scrollTotop {
  font-size: 15px;
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 30px;
  padding: 15px 30px;
  cursor: pointer;
  background-color: var(--unnamed-color-273587);
  color: var(--textLight);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
}

.scrollTotop:hover {
  background-color: var(--hover-03c3ff);
}

.scrollTotop.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
/* End Scroll To Top */
