/** @format */

@import "./colors.css";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;900&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./hompage.css";
@import "./slider.css";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html.remove-scrollY {
  overflow-y: hidden;
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
  overflow-x: hidden;
}

/* Start Top Nav img */
.top-nav-img {
  height: 111px;
  background: url("../assets/SVG/Nav-ٍSmall.svg") #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 899 !important;
}

.top-nav-img .lang-icon {
  font-weight: 500;
  display: block;
  width: max-content;
  margin-right: auto;
  margin-top: 5px;
  text-decoration: none;
  color: #0071bc;
  background-color: rgba(225, 225, 225, 30%);
  padding: 3px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .top-nav-img .lang-icon {
    display: none;
  }
}

.top-nav-img .lang-icon svg {
  margin-right: 5px;
}
.top-nav-img .lang-icon svg path {
  fill: var(--headingSectionsColor);
}

/* End Top Nav img */

/* Start Navbar */
.navbar.shadow-bottom {
  box-shadow: 0 7px 10px rgb(34 130 138 / 20%);
}
.navbar-expand-lg {
  margin-top: 42px;
  background-color: #fff;
  z-index: 901 !important;
}
.navbar-expand-lg.move-top {
  margin-top: 0;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}









@media (max-width: 991px) {
  .navbar-brand {
    margin-right: 0;
   
  }
}

.navbar-brand img {
  width: 90px;
}
@media (max-width: 991px) {
  .navbar-brand img {
    width: 80px !important;
  }
}
.nav-item .nav-link {
  padding: 8px 15px;
  font-size: 17px;

  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
  position: relative;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .nav-item .nav-link {
    padding-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .nav-item .nav-link {
    margin-bottom: 20px;
    font-weight: bold;
  }
}
@media (min-width: 1199px) {
  .nav-item .nav-link {
    margin-right: 30px;
  }
  .navbar-nav {
    margin-top: 35px;
  }
}

.nav-item .nav-link:hover,
.nav-link .nav-link:hover svg path {
  color: var(--hover-03c3ff);
  fill: var(--hover-03c3ff);
}
.nav-item .nav-link.active {
  border-bottom: 2px solid var(--hover-03c3ff);
  color: var(--hover-03c3ff);
}
.nav-item .nav-link.active svg path {
  fill: var(--hover-03c3ff);
}
@media (max-width: 991px) {
  .nav-item .nav-link.active {
    border: none;
    color: #000;
  }
  .nav-item .nav-link.active svg path {
    fill: #000;
  }
  .nav-item .nav-link:hover {
    color: var(--hover-03c3ff);
  }
}

.nav-item .nav-link img {
  position: absolute;
  bottom: 18px;
  left: -7px;
}
.nav-item .nav-link img.lang-icon {
  left: -15px;
  bottom: 14px;
}

@media (max-width: 991px) {
  .navbar-nav {
    margin-top: 20px;
    padding-right: 0;
    direction: rtl;
  }
  .nav-item {
    display: inline;
  }
  .nav-item .nav-link img {
    left: -20px;
  }
  .nav-item .nav-link img.lang-icon {
    left: -25px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
@media (max-width: 500px) {
  .navbar-nav {
    margin-top: 0;
  }
  .nav-item .nav-link {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.navbar-toggler {
  border: none;
}



.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navbar-expand-lg .navbar-nav .dropdown-menu .drop-info {
  width: 20%;
  text-align: right;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu .drop-info {
    width: 100%;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu .drop-info h3 {
  margin-right: 20px;
  font-size: 20px;
  color: var(--unnamed-color-273587);
  font-weight: bold;
  line-height: 1.7;
}
@media (max-width: 500px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu .drop-info h3 {
    margin-right: 0;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul {
  width: 40%;
  padding-right: 20px;
  text-align: right;
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu ul {
    width: 100%;
    padding-right: 0;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li .go-to-page {
  display: block;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  padding: 10px 20px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li.ask-us-dropdown {
  padding: 10px 20px;
}
@media (max-width: 500px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu ul li a.go-to-page {
    padding: 10px 10px;
    font-size: 14px;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li:hover {
  background: #eeedff;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li.ask-us-dropdown:hover {
  background: transparent;
  cursor: unset;
}

.navbar-expand-lg .navbar-nav .dropdown-menu ul li svg {
  width: 20px !important;
  height: 18px !important;
  margin-left: 8px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li a.ask-us-dropdown-btn {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  background-color: var(--headingSectionsColor);
  color: var(--textLight);
  text-align: center;
  padding: 5px;
  width: 110px;
  margin-right: 5px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu ul li.ask-us-dropdown {
    padding-right: 20px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu ul li a.ask-us-dropdown-btn {
    display: block;
    margin-top: 20px;
    margin-right: 0;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li a.ask-us-dropdown-btn svg {
  display: none;
  margin-right: 5px;
}
.navbar-expand-lg
  .navbar-nav
  .dropdown-menu
  ul
  li
  a.ask-us-dropdown-btn:hover
  svg {
  display: inline-block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li a.ask-us-dropdown-btn:hover {
  background-color: #2fb943;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  border: 1px solid var(--unnamed-color-65c7ee);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border: 1px solid #65c7ee;
  border-radius: 8px;
  position: absolute;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: unset;
    border: none;
    border-top: 1px solid #65c7ee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.navbar-expand-lg .navbar-nav .nav-item:hover svg.down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.navbar-expand-lg .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -425px;
    width: 920px;
    top: 43px;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 43px;
    left: -480px;
    width: 920px;
    transition: var(--mainTransitionTim);
    -webkit-transition: var(--mainTransitionTim);
    -moz-transition: var(--mainTransitionTim);
    -ms-transition: var(--mainTransitionTim);
    -o-transition: var(--mainTransitionTim);
  }
}
.close-nav {
  display: none;
}
@media (max-width: 991px) {
  .navbar-collapse.show {
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    direction: ltr;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    box-shadow: 0px 3px 25px #00000029;
    border: 1px solid #65c7ee;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: -220px -1px 0px rgb(0 0 0 / 0.5);
  }
  .navbar-collapse.show .close-nav {
    display: block;
    position: fixed;
    left: 18vw;
    z-index: 3;
    top: 40px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--textLight);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.6);
    transition: var(--mainTransitionTim);
    -webkit-transition: var(--mainTransitionTim);
    -moz-transition: var(--mainTransitionTim);
    -ms-transition: var(--mainTransitionTim);
    -o-transition: var(--mainTransitionTim);
  }
  @media (max-width: 550px) {
    .navbar-collapse.show .close-nav {
      left: 17vw;
    }
  }
  .navbar-collapse.show .close-nav:hover {
    background-color: var(--hover-03c3ff);
  }
  .navbar-collapse.show .close-nav svg path {
    fill: var(--headingSectionsColor);
  }
  .navbar-collapse.show .close-nav:hover svg path {
    fill: #fff;
  }
  .navbar-collapse {
    display: block !important;
    padding: 20px;
    position: absolute;

    left: 100%;
    z-index: 1045;
    width: 80vw;
    top: 0;
    z-index: 99999;
    background-color: var(--textLight);
    transition: var(--mainTransitionTim);
    -webkit-transition: var(--mainTransitionTim);
    -moz-transition: var(--mainTransitionTim);
    -ms-transition: var(--mainTransitionTim);
    -o-transition: var(--mainTransitionTim);
  }
  .navbar-collapse.move-top {
    top: -42px;
  }
}

@media (max-height: 1000px) {
  .navbar-collapse.show {
    direction: ltr;
    height: 100vh;
    overflow-y: scroll;
  }
}

/* End Navbar */

/* Start Contact Fixed Box */
.contact-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  left: 0px;
  width: 60px;
  top: 50%;
  /*UIProperties*/
  background: transparent linear-gradient(180deg, #273a95 0%, #4dc7ed 100%) 0%
    0% no-repeat padding-box;
  border-radius: 44px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 800;
}
.contact-box div a img {
  width: 60px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}

.contact-box div a img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media (max-width: 991px) {
  .contact-box {
    padding: 8px;
    right: 0;
    width: 40px;
  }
  .contact-box div a img {
    width: 40px;
  }
}
/* End Contact Fixed Box */

/* start Footer */
footer {
  background-color: var(--unnamed-color-d9f2f2);
}



footer .d-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "logo-box our-serv-box links-box footer-contact-box"
    "social-box . subscrip-box subscrip-box";
    gap: 10px 40px;
}
@media (max-width: 991px) {
  footer .d-grid {
    grid-template-areas:
      "logo-box logo-box logo-box logo-box "
      "social-box social-box social-box social-box "
      "our-serv-box our-serv-box our-serv-box our-serv-box "
      "links-box links-box links-box links-box "
      "footer-contact-box footer-contact-box footer-contact-box footer-contact-box"
      "subscrip-box subscrip-box subscrip-box subscrip-box";
  }
}
.logo-box {
  grid-area: logo-box;
}
.our-serv-box {
  grid-area: our-serv-box;
}
.links-box {
  grid-area: links-box;
}
.footer-contact-box {
  grid-area: footer-contact-box;
}
@media (max-width: 991px) {
  .footer-contact-box ul {
    text-align: right !important;
  }
}
.social-box {
  grid-area: social-box;
}
.subscrip-box {
  grid-area: subscrip-box;
}

footer,
footer ul li a {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-muted-707070);
  text-decoration: none;
}
footer ul li {
  font-size: 14px;
}
footer ul li a {
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
footer ul li a:hover {
  color: var(--hover-03c3ff);
}
footer ul {
  list-style: none;
  padding: 0;
}
.footer-box .logo {
  margin-bottom: 20px;
  transform: var(--mainTransitionTim);
  -webkit-transform: var(--mainTransitionTim);
  -moz-transform: var(--mainTransitionTim);
  -ms-transform: var(--mainTransitionTim);
  -o-transform: var(--mainTransitionTim);
}
.footer-box .logo.hide {
  opacity: 0;
}

.footer-box p {
  font-size: 14px;
  line-height: 2;
}




.footer-box .footer-title {
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: bold;

  color: var(--unnamed-color-2e2e2e);
  border-bottom: 2px solid #70707030;
}
@media (max-width: 991px) {
  .footer-box .footer-title {
    width: 200px;
  }
}
.footer-box ul {
  margin-top: 25px;
}
.footer-box ul li {
  margin-bottom: 8px;
}
.footer-box ul li img {
  margin-right: 5px;
  width: 14px;
}

.footer-box ul.text-left {
  text-align: left;
}
footer .social ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

footer .social ul li {
  margin: 15px;
}

footer .social ul li a img {
  font-size: 26px;
}

footer .social ul li a i:hover {
  color: var(--unnamed-color-273587);
}
.subscrip-input,
.subscrip-btn {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}
.subscrip-input {
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
}
.subscrip-input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--text-muted-707070);
}
.subscrip-btn {
  display: flex;
  align-items: center;

  width: 77px;
  padding: 10px;
  background-color: #0071bc;
  color: var(--textLight);
  margin-right: 8px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.subscrip-btn:hover {
  background-color: var(--hover-03c3ff);
  color: var(--textLight);
}
.subscrip-btn img {
  width: 6px;
  margin-right: 5px;
}
.footer-bottom {
  height: 110px;
  background-image: url("../assets/Footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-bottom .container {
  height: 100%;
}
.footer-bottom .footer-copy {
  color: var(--textLight);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 0 10px;
}
.footer-bottom .footer-copy p {
  margin: 17px 0 0 10px;
}
/* End Footer */

/*Start  Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--unnamed-color-273587);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-03c3ff);
}
/*End Scrollbar */

/* Start Scroll To Top */
.scrollTotop {
  font-size: 15px;
  position: fixed;
  z-index: 900;
  bottom: 50px;
  right: 30px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--unnamed-color-273587);
  color: var(--textLight);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
}

.scrollTotop:hover {
  background-color: var(--hover-03c3ff);
}

.scrollTotop.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
/* End Scroll To Top */
